@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tagesschrift&display=swap');

.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-style: Normal;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --red: #ed1c24;
  --light-gray: #ffffffb3;
}
body{
    background-color: var(--black);
    color: var(--white);
}
@font-face {
    font-family: futurak;
    src: url("./fonts/futurak.ttf");
}
  
.logo-pic{
    width: 160px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbaritems a{
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    margin: 10px;
    justify-content: center;

}
.btn-one{
 border: 2px solid white;
 border-radius: 25px;
 background-color: var(--black);
 color: var(--white);
 padding: 12px;
 margin: 10px;
}
.btn-two{
 
 border-radius: 25px;
 background-color: var(--red);
 color: var(--white);
 padding: 15px;
}
.icon-heading{
    /* border: 2px solid var(--white); */
    border-radius: 50%;
    background-color: var(--white);
    color: var(--red);
    padding: 4px;
    
}
.pic-container{
    width: 100%;
    /* padding-bottom: 50px; */
}
.brand-heading{
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
    margin-top: 50px;

}
.para-heading{
    font-family: futurak;
    font-size: 6rem; 
}
.brand-para{
    font-size: 1.5rem;
    text-align: center;
    color: var(--light-gray);
    margin-bottom: 30px;
}
.brand-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 50px;

}
.franchise-btn{
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.brand-container-image{
    width: 250px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 20px;
    height: 140px;

}